// Colors
$casetext--blue: #007bff;
$casetext--indigo: #6610f2;
$casetext--purple: #6f42c1;
$casetext--pink: #e83e8c;
$casetext--red: #dc3545;
$casetext--orange: #fd7e14;
$casetext--yellow: #ffc107;
$casetext--green: #28a745;
$casetext--teal: #20c997;
$casetext--cyan: #17a2b8;
$casetext--white: #fff;
$casetext--gray: #6c757d;
$casetext--gray-dark: #343a40;
$casetext--primary: #005aaa;
$casetext--secondary: #484848;
$casetext--success: #01a055;
$casetext--info: #17a2b8;
$casetext--warning: #ffb300;
$casetext--danger: #e53935;
$casetext--light: #eeeeee;
$casetext--dark: #212121;
$casetext--breakpoint-xs: 0;
$casetext--breakpoint-sm: 576px;
$casetext--breakpoint-md: 768px;
$casetext--breakpoint-lg: 992px;
$casetext--breakpoint-xl: 1200px;
$casetext--font-family-sans-serif: "IBM Plex Sans", "Helvetica Neue", Arial,
  sans-serif;
$casetext--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
